numpy>=1.24
pillow>=10.0
opencv-python>=4.8

# ==== PDF ====
pymupdf
yomitoku
pytesseract

# ==== YOLO ====
ultralytics
torch
torchvision

# ==== embedding ====
sentence-splitter
sentence-transformers
scikit-learn

# ==== others ====
sacrebleu
transformers
sentencepiece
fugashi[unidic-lite]
cython
mcerp